@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('../fonts/Pretendard-ExtraBold.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('../fonts/Pretendard-SemiBold.woff2') format('woff2');
    font-style: normal;
}

.topBtnArea {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 80px 60px 2% 60px;
    box-sizing: border-box;
}

.topBtnArea .topBtn {
    position: relative;
    width: 50px;
    height: 50px;

    background-color: #FFF2F5;
    border-radius: 50px;
    cursor: pointer;
}

.topBtnArea .topBtn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 15px;
}

.bannerArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 116px;
    padding: 0 6.25vw;
    box-sizing: border-box;
    background-color: #FFF2F5;
}

.bannerArea .bannerTxt p {
    padding: 0 0 20px 0;
    font-family: 'Pretendard-ExtraBold', sans-serif;
    font-size: clamp(24px, 2.71vw, 52px);
    line-height: 1.4;
    word-break: keep-all;
}

.bannerArea .bannerTxt button {
    padding: 14px 29px;
    border-radius: 50px;
    font-family: 'Pretendard-ExtraBold', sans-serif;
    font-size: clamp(14px, 1.15vw, 22px);
    background-color: #111111;
    color: #ffffff;
}

.bannerArea .bannerImg {
    max-width: 812px;
    margin: -2% 0 0 0;
}

.bannerArea .bannerImg img {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 60px 6.25vw;
    box-sizing: border-box;
}

footer .footerLogo {
    max-width: 170px;
    padding: 0 0 20px 0;
}

footer .footerLogo img {
    width: 100%;
}

footer .footerTxt p {
    padding: 0 0 10px 0;
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: clamp(14px, 0.83vw, 16px);
    word-break: keep-all;
}

footer .footerTxt div span {
    padding: 0 30px 0 0;
    font-size: clamp(14px, 0.83vw, 16px);
    color: #7B7B7B;
    word-break: keep-all;
}

footer .footerTxt div span strong {
    padding: 0 12px 0 0;
    font-family: 'Pretendard-SemiBold', sans-serif;
    color: #111111;
}

footer .copyright p {
    padding: 0 30px 0 0;
    font-size: clamp(14px, 0.83vw, 16px);
    color: #7B7B7B;
}

@media(max-width:1240px) {
    .topBtnArea {
        padding: 20px 5vw 2% 5vw;
    }

    .bannerArea {
        gap: 50px;
        padding: 0 5vw;
    }

    .bannerArea .bannerImg {
        max-width: 360px;
        margin: -2% 0 0 0;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
    }

    footer .footerTxt div span {
        display: block;
        padding: 0 30px 10px 0;
    }
}

@media(max-width:768px) {
    .topBtnArea {
        padding: 20px 5vw;
    }

    .topBtnArea .topBtn {
        /* position: fixed;
        bottom: 30px;
        right: 5vw; */
        width: 40px;
        height: 40px;
        /* background-color: #f4f4f4; */
    }

    .topBtnArea .topBtn img {
        max-width: 12px;
    }

    .bannerArea {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 30px 5vw;
    }

    .bannerArea .bannerTxt p {
        padding: 0 0 10px 0;
        text-align: center;
    }

    .bannerArea .bannerTxt div {
        width: 100%;
        text-align: center;
    }

    .bannerArea .bannerImg {
        max-width: 230px;
        margin: 0;
    }

    footer {
        padding: 60x 5vw;
        gap: 14px;
    }
}