@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
    font-style: normal;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 6.25vw;
    margin: 200px 0;
}

.secBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 116px;
}

.secBox02{
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.secTxt{
    width: 50%;
}

.secTxt h3 {
    padding: 0 0 20px 0;
    font-family: 'Pretendard-Bold', sans-serif;
    font-size: clamp(28px, 3.23vw, 62px);
    line-height: 1.2;
}

.secTxt>p {
    font-size: clamp(16px, 1.25vw, 24px);
    line-height: 1.4;
    padding: 0 0 30px 0;
    word-break: keep-all;
}

.secTxt button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 14px 30px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #FF1B49;
    transition: all 0.3s ease;
}

.secTxt button p {
    font-family: 'Pretendard-Bold', sans-serif;
    font-size: clamp(14px, 1.15vw, 22px);
}

.secTxt button div {
    opacity: 0;
    visibility: hidden;
    width: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.secTxt button:hover div {
    opacity: 1;
    visibility: visible;
    width: 20px;
}

.secTxt button div img {
    width: 20px;
}

.secImg {
    width: 50%;
    /* max-width: 782px; */
}

.secImg img {
    width: 100%;
    border-radius: 20px;
}

@media(max-width:1240px) {
    .secTxt h3 {
        padding: 0 0 10px 0;
    }

    .secTxt>p {
        padding: 0 0 14px 0;
    }

    .secTxt button div {
        display: none;
    }
}

@media(max-width:768px) {

    .secBox {
        gap: 60px;
        flex-direction: column;
    }
    
    .secBox02{
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .secTxt{
        width: 100%;
    }

    .secImg {
        width: 100%;
    }

    .secTxt button {
        padding: 12px 24px;
    }
}