@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Pretendard-Black';
    src: url('../fonts/Pretendard-Black.woff2') format('woff2');
    font-style: normal;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 54px 6.25vw 0 6.25vw;
}

.hero {
    /* position: absolute;
    top: 50%;    
    transform: translateY(-50%); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.heroTxt{
    width: 50%;
}

.hero h1 {
    transform: translateY(30px);
    margin-bottom: 10px;
    font-family: 'Pretendard-Black', sans-serif;
    font-size: clamp(43px, 4.69vw, 90px);
    font-weight: 900;

    opacity: 0;
    visibility: hidden;
    animation: slideUp 0.7s ease-out forwards;
}

.hero h1.blueText {
    color: #0064FF;
    margin-bottom: 20px;
    opacity: 0;
    visibility: hidden;
    animation: slideUp 0.7s ease-out forwards;
    animation-delay: 0.3s;

}

.hero p {
    font-size: clamp(18px, 1.35vw, 26px);
    line-height: 1.4;
    animation: slideUp 0.7s ease-out forwards;
    animation-delay: 0.6s;
    opacity: 0;
}

.heroImg {
    max-width: 800px;
    width: 50%;
}

.heroImg img {
    width: 100%;
}

.scrollArea{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.scrollCircle {
    position: relative;
    width: 100%;
    padding: 10px 0;
}

.circle {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50px;
    animation: slideDown 2s ease-in-out infinite;
    background-color: #0064FF;
}

.scrollText {
    padding: 8px 0 0 0;
    text-align: center;
    font-family: 'Prompt';
    font-size: clamp(14px, 1.04vw, 20px);
    font-weight: 500;
    color: #0064FF;
    
}

@keyframes slideDown {
    0% {
        transform: translate(-50%, 0%);
    }

    50% {
        transform: translate(-50%, 100%);
    }

    100% {
        transform: translate(-50%, 0%);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
        visibility: hidden;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@media(max-width:1240px) {
    .hero {
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }
}

@media(max-width:768px) {
    .hero {
        padding: 0 0 30px 0;
    }

    .heroTxt{
        width: 100%;
    }

    .heroImg {
        width: 100%;
    }
}