@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
    font-style: normal;
}

.container {
    position: relative;
    width: 100%;
    height: calc(var(--vh) * 100);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 6.25vw;
    background-color: #0064FF;
}

.secBox02{
    /* position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); */
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.secBox02 p{
    padding: 0 0 20px 0;
    font-family: 'Pretendard-Bold', sans-serif;
    font-size: clamp(14px, 1.15vw, 22px);
}

.secBox02 h3{
    font-family: 'Pretendard-Bold', sans-serif;
    font-size: clamp(28px, 3.23vw, 62px);
    line-height: 1.2;
    word-break: keep-all;
}

@media(max-width:1240px) {
    .container {
        padding: 400px 6.25vw;
    }
}

@media(max-width:768px) {
    .container {
        padding: 300px 6.25vw;
    }
    .secBox {
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
    }

    .secTitle {
        width: 100%;
    }

    .secImg {
        width: 100%;
    }
}
