@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Pretendard-Black';
    src: url('../fonts/Pretendard-Black.woff2') format('woff2');
    font-style: normal;
}

.wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15% 0 40px 0;
    box-sizing: border-box;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 112px; */
    padding: 0 0 10% 0;
}

/* 
.hero .heroTxt div {
    height: 20%;
    overflow-y: hidden;
} */

.hero h1 {
    /* height: 20%; */
    transform: translateY(100%);
    margin-bottom: 10px;
    font-family: 'Pretendard-Black', sans-serif;
    font-size: clamp(43px, 4.69vw, 90px);
    font-weight: 900;

    opacity: 0;
    visibility: hidden;
    animation: slideUp 0.7s ease-out forwards;
}

.hero h1.blueText {
    color: #0064FF;
    margin-bottom: 20px;
    opacity: 0;
    visibility: hidden;
    animation: slideUp 0.7s ease-out forwards;
    animation-delay: 0.3s;

}

.hero p {
    font-size: clamp(18px, 1.35vw, 26px);
    line-height: 1.4;
    animation: slideUp 0.7s ease-out forwards;
    animation-delay: 0.6s;
    opacity: 0;
}

.heroImg {
    max-width: 800px;
    width: 100%;
    /* opacity: 0;
    visibility: hidden;

    animation: slideUp 0.7s ease-out forwards;
    animation-delay: 1.2s; */
}

.heroImg img {
    width: 100%;
}

.scrollLine {
    position: relative;
    width: 100%;
    height: 43px;
}

.scrollLine div {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 43px;
}

.lineOne {
    background-color: #d8d8d8;
}

.lineTwo {
    height: 0;
    background-color: #0064FF;
    animation: growLine 2.5s ease-in-out infinite;
}

.scrollText {
    padding: 8px 0 0 0;
    text-align: center;
    font-family: 'Prompt';
    font-size: clamp(13px, 1.04vw, 20px);
    font-weight: 500;
    color: #0064FF;
}

@keyframes growLine {
    0% {
        height: 100%;
    }

    100% {
        height: 0;
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
        visibility: hidden;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@media(max-width:1240px) {
    .wrap {
    padding: 20% 0 20% 0;
}
    .hero {
        align-items: flex-start;
        flex-direction: column;
        gap: 50px;
    }
}

@media(max-width:768px) {
    .wrap {
    padding: 40% 0 20% 0;
}
.hero {
        padding: 0 0 30% 0;
    }
}