@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
    font-style: normal;
}

.itemBox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.item {
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
}

.item .itemImg {
    width: 100%;
    padding: 0 0 29px 0;
    box-sizing: border-box;
    margin: 0 auto;
}

.item .itemImg img {
    width: 100%;
    border-radius: 20px;
}

.item .itemTxt {
    padding: 0 0 0 4%;
}

.item .itemTxt h4 {
    padding: 0 0 29px 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Bold', sans-serif;
    font-size: clamp(24px, 2.19vw, 42px);
    line-height: 1.2;
    word-break: keep-all;
}

.item .itemTxt p {
    font-size: clamp(14px, 2.19vw, 22px);
    line-height: 1.4;
}

@media(max-width:1240px) {
    .item .itemImg {
        padding: 0 0 15px 0;
    }

    .item .itemTxt h4 {
        padding: 0 0 15px 0;
    }
}

@media(max-width:768px) {
    .item {
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .item .itemImg {
        padding: 0;
    }

    .item .itemTxt {
        padding: 0;
    }

    .item .itemTxt h4 {
        padding: 0 0 10px 0;
        font-size: clamp(28px, 3.23vw, 62px);
        word-break: keep-all;
    }
}