@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
    font-style: normal;
}

.secBox02{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.secBox02 p{
    padding: 0 0 20px 0;
    font-family: 'Pretendard-Bold', sans-serif;
    font-size: clamp(14px, 1.15vw, 22px);
}

.secBox02 h3{
    font-family: 'Pretendard-Bold', sans-serif;
    font-size: clamp(28px, 3.23vw, 62px);
    line-height: 1.2;
}
