@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../src/fonts/Pretendard-Regular.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../src/fonts/Pretendard-Bold.woff2') format('woff2');
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Pretendard-Regular', sans-serif;
    color: #111111;
}

/* .wrap{
    height: 100vh;
} */

.layOut {
    width: 100%;
    height: 100vh;
    padding: 0 6.25vw;
    box-sizing: border-box;
}

.layOut>div {
    position: relative;
    height: 100%;
}

.specialBg {
    background-color: #0064FF;
}

.pdReset {
    padding: 0;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 6.25vw;
    box-sizing: border-box;
    z-index: 100;
}

.header .logoArea {
    width: 33.3%;
}

.header .logoBox {
    width: 100%;
    max-width: 145px;
}

.header .logoBox img {
    width: 100%;
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 33.3%;
}

.header nav p {
    font-family: 'Pretendard-Bold';
    cursor: pointer;
}

.header .btnArea {
    width: 33.3%;
    display: flex;
    justify-content: flex-end;
}

.header button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 9px 24px;

    font-family: 'Pretendard-Bold';
    color: #ffffff;
    background-color: #111111;
    border-radius: 50px;
    cursor: pointer;
}

.header button div {
    opacity: 0;
    visibility: hidden;
    width: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.header button div img {
    width: 100%;
}

.header button:hover div {
    opacity: 1;
    visibility: visible;
    width: 14px;
}

.backBlue {
    background-color: #0064FF;
}

.mSec09 {
    display: none;
}

@media(max-width:1240px) {
    .header {
        padding: 20px 6.25vw;
    }

    .pdReset {
        padding: 0;
    }

    .header .logoArea {
        width: 20%;
    }

    .header nav {
        width: 60%;
    }

    .header .btnArea {
        width: 20%;
    }

    .header button {
        gap: 0px;
    }

    .header button div img {
        display: none;
    }
}

@media(max-width:768px) {
    .layOut {
        padding: 0 5vw;
    }

    .pdReset {
        padding: 0;
    }

    .header {
        padding: 15px 5vw;
    }

    .header .logoArea {
        width: 50%;
    }

    .header nav {
        display: none;
    }

    .header .btnArea {
        width: 50%;
    }

    .Sec09 {
        display: none;
    }

    .mSec09 {
        display: block;
    }

}